.card.border-0{
  cursor: pointer;
}
.loader{
  height:500px;
}

.plus-btn {
  z-index: 5;
  position: relative;
}
.input-feedback-profile {
  color: red;
}
.input-feedback-tik {
  color: red;
}
.input-feedback-meta {
  color: red;
}
.css-nakgy8-TimeKeeper{
  position: absolute !important;
  z-index: 9999;
  display: inherit !important;
}
.react-timekeeper{
  position: absolute !important;
  z-index: 9999;
  display: inherit !important;
}
.template-deck{
 display: flex;
 flex-wrap: wrap;
}
.template-deck .template-card {
  margin-right: 15px;
  /* width: 230px; */
}
/* .profile-dropdown {
  transform: translateX(-23%);
} */
@media only screen and (max-width: 405px) {
  .profile-dropdown {
      transform: translateX(-37%);
    }
}
@media only screen and (max-width:992px) {
  .input-feedback-profile {
      margin-left: 0 !important;
  }
  .input-feedback-tik{
    margin-left: 0 !important;
  }
  .input-feedback-meta{
    margin-left: 0 !important
  }
}
@media only screen and (max-width:1400px) {
  .input-feedback-profile{
      margin-left: 213px;
  }
  /* .input-feedback-tik{
    margin-left: 154px;
  } */
  .input-feedback-meta{
    margin-left: 167px;
  }
}
.recent-attribute-main-container .f-16{
  font-size: 13px !important;
  flex-wrap: wrap;
  white-space: normal;
  word-break: break-all;
}
/* .footer{
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  right: 0;
} */
.card-img-top {
  width: 100% !important;
  min-width: 120px !important;
  min-height: 127px !important;
  max-width: 120px !important;
  max-height: 180px !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker__input-container{
  display: block !important;
}
.react-datepicker-popper{
  z-index: 9999 !important;
  top: 37px !important;
}
/* .footer{
  bottom: auto !important
} */

.img-circle {
  border-radius: 50%;
  width: 105px;
  height: 105px !important;
  object-fit: cover;
  object-position: center;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.upload-image {
  background-color: #f27136;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  font-size: 10px;
  padding-top: 20px;
}
.generateQr {
  width: 100px;
  height: 100px;
}
.generateQr img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 !important;
}

.temp-Image{
  margin-top: 6px;
}


.puls-drop {
  position: absolute;
  right: 30px;
  bottom: 10px;
  z-index: 6;
}
.custom-select,custom-control.custom-checkbox{
  cursor: pointer;
}
.txt-blk th {
   cursor: pointer;
}
.date-filter-wrapper h3,.report-number-wrapper h3{
   font-size: 16px;
}
.no-reports{
  margin-top: 150px;
  text-align: center;
}
.plus-image{
  height:13px;
  width:13px;
  margin-left: 5px;
  }
.date-filter-wrapper .react-datepicker{
  margin-top:-40px;
}
.nav.metismenu.f-m li .navigation-item:hover {
   color:#2B190E !important; 
}
.nav.metismenu.f-m li .navigation-item:hover .default {
  opacity: 0;
}
.tikReport .nav-item .nav-link:hover{
    color: #fff !important;
    background-color: #f27136;
    border-color: #f27136;
}
.tikReport .nav-item .torFilter:hover{
  color: #000 !important;
  background-color: #fff !important;
  border-color: #f27136;
}
.sc-htpNat.fEDVdc{
background-color:#fff !important;
}
.tag{
  background-color: #f3f3f4 !important;
  margin: 0em 0.2em 0.1em 0.2em;
  padding: 0em 0em 0em 0.5em;
  border-radius: 12px !important;
  color: #2b190e !important;
  font-size: 16px;
  cursor: auto;
  border:0 !important;

}
.remove{
  margin-left: .5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px !important;
  color: #fff !important;
  background-color: #2c2212 !important;
  padding: 2px 7px;
  border-radius: 15px;
  width:22px !important;
  height:22px !important;
}
.w-100{
  width: 100% !important;
}
/* .tag-input{
  background-color: #f9f9f9;
  padding: 1px 10px;
  border-radius: 10px;
  margin-right: -20px;
  margin-top: 1px;
} */
.from-to-data .f-20{
  line-height: 12px;
}
.action-data:empty{
  display: none;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle, .btn-primary:focus, a.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus{
  background-color: #f27136 !important;
  border-color: transparent !important;
  cursor: pointer;
}
.d-flex.flex-wrap{
  margin-top:10px;
}
.loader-add-tag{
  text-align: center;
}
.tags-input{
  box-shadow: 2px 0px 5px #ddd !important;
  border:0 !important;
}
.searchDrop .tags-input button{
  padding:0 !important;
}
.tags-input input{
margin-bottom: 0 !important;
}
.dateinput h3{
   font-size: 16px;
}
.search-btn{
  padding:.6rem !important;
  min-width: auto !important;
  line-height: 14px;
}
._2iA8p44d0WZ-WqRBGcAuEV {
  box-shadow: 2px 0px 5px #ddd !important;
  border:0 !important;
}
.chartWrapper {
  position: relative;
}
.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}
.chartAreaWrapper {
  width: 600px;
  overflow-x: scroll;
}
.react-tagsinput-tag{
  background-color: #f3f3f4 !important;
  margin: 0em 0.2em 0.1em 0.2em;
  padding: 0em 0em 0em 0.5em;
  border-radius: 12px !important;
  color: #2b190e !important;
  font-size: 14px !important;
  cursor: auto;
  border: 0 !important;
  width:auto !important;
  white-space: normal !important;
  word-break: break-word !important;
}
.react-tagsinput-input::placeholder{
  color:#f3f3f4;
  opacity: 1;
  font-size: 14px;
  font-weight: 300 !important;
}
.react-tagsinput-input{
width:100% !important;
}

.react-tagsinput-remove{
  display: inline-block;
  margin-left: 3px;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  user-select: none;
  font-size: 16px !important;
  color: #fff !important;
  background-color: #2c2212 !important;
  width: 22px !important;
  height: 22px !important;
  text-align: center;
}
.react-tagsinput-remove::before{
  width: 5px;
  height: 5px;
  line-height: 15px;
}
.react-tagsinput{
  border-radius: 5px;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: 2px 0px 5px #ddd !important;
  border: 0 !important;
}
.templateButton,.templateButton.disabled, .templateButton:disabled{
  background-color: #F27136 !important;
  color: #ffffff !important;
  border-color: transparent !important;;
  border-radius: 6px !important;
}
.templateButton.hover{
  background-color: #f27136 !important;
  border-color: transparent !important;
  box-shadow: 1px 2px 3px rgba(242, 113, 54, 0.40) !important;
}
.templateButton.disabled, .templateButton:disabled ,
.templateButton.disabled:hover, .templateButton:disabled:hover{
  cursor: default;
}
.remove-tag{
  color: #337ab7 !important;
  cursor: pointer;
}
.remove-tag:hover{
 color: #0056b3 !important; 
}
.hide-template-button{
  display: none !important;
}
.existingTagWrapper .tag-input{
  background-color: #f9f9f9;
  padding: 1px 10px;
  border-radius: 10px;
  margin-top: 1px;
  min-width: 74px;
  margin-right: 6px;
}
.existingTagWrapper{
  display: flex;
  flex-wrap: wrap;
}
.existingTagWrapper .existingTag{
  padding: 5px 10px;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}
.searchDrop.dropdown-menu.p-3{
  display: block !important;
  overflow-y: auto;
  max-height: 400px;
}
/* .chartjs-render-monitor{
  height:400px;
} */
.analytics-font {
  font-size: 16px;
}
.sTag span{
  background: #e0f3ff;
    display: inline-block;
    border-radius: 15px;
    font-size: .8rem;
    padding: 1px 10px;
    margin: 0 2px 3px 2px;
}
.sTag span a {
   position: relative;
   left:5px;
   top: 1px;
}
.help{
  border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px #ddd;
    width: 100%;
}
.help:focus{
    border-radius: 6px;
    width: 100%;
    border: 1px solid #F27136 !important;
    box-shadow: 1px 1px 6px #f2713630;
}
.css-1pahdxg-control{
  border: 1px solid #F27136 !important;
  box-shadow: 1px 1px 6px #f2713630 !important;
}
.css-1pahdxg-control:focus{
  border: 1px solid #F27136 !important;
  box-shadow: 1px 1px 6px #f2713630 !important;

}
.css-yk16xz-control{
  border-style: none !important;
  border-color: #F27136 !important;
  box-shadow: 1px 1px 6px #f2713630 !important;

}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px !important;
}
h3.f-16{
word-break: break-word !important;
}
h3.f-24{
  word-break: break-word;
  }